* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: #f1f1f1;
}

.fine {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.page-panier__part1__form-part__formulaire input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin-top: 15px;
  padding-left: 8px;
  border-radius: 2px;
  font-size: 0.9em;
  border: 1px solid #a7a7a7;
}

.navbar {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid grey;
  position: relative;
  box-shadow: 0px 0px 10px silver;
}
.navbar__logo {
  font-size: 1.5em;
  margin: 20px 0 15px 0;
}
.navbar__items {
  list-style-type: none;
  display: flex;
  margin-bottom: 20px;
}
.navbar__items li {
  font-size: 0.7em;
  margin: 0 10px;
  color: #a7a7a7;
}
.navbar__items li:nth-child(2) {
  font-weight: 500;
  color: black;
}
.navbar__panier {
  position: absolute;
  top: auto;
  bottom: auto;
  right: 20px;
  font-size: 0.7em;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.navbar__panier__logo {
  width: 32px;
}
.navbar__panier__total {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: -8px;
  width: 70%;
  display: flex;
  justify-content: center;
}

.collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.collection__title {
  margin-top: 80px;
  font-weight: 500;
  font-size: 1.2em;
  position: relative;
}
.collection__title::after {
  content: "";
  position: absolute;
  top: 40px;
  right: 0px;
  left: 0px;
  height: 1px;
  width: 60%;
  margin: auto;
  background-color: black;
}
.collection__group {
  margin-top: 80px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}
.collection__group__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 0px 5px gray;
  transition: transform 0.5s ease-in-out;
  margin: 0 15px 30px 15px;
}
.collection__group__items:hover {
  transform: scale(1.03);
}
.collection__group__items__image {
  object-fit: cover;
  width: 120%;
  height: 220px;
}
.collection__group__items__name {
  font-size: 0.8em;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 5px;
}
.collection__group__items__price {
  margin-bottom: 10px;
  font-size: 0.8em;
}

.focus-product {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  height: 350px;
}
.focus-product__photo {
  width: 40%;
  overflow: hidden;
  margin-right: 50px;
  display: flex;
  justify-content: center;
}
.focus-product__presentation {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 10px;
}
.focus-product__presentation__part1 {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #a7a7a7;
}
.focus-product__presentation__part1__name {
  font-size: 1.5em;
  margin-bottom: 15px;
}
.focus-product__presentation__part1__price {
  margin-bottom: 15px;
}
.focus-product__presentation__part2 {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.focus-product__presentation__part2__description {
  font-family: "Nunito", sans-serif;
  font-size: 0.85em;
}
.focus-product__presentation__part2__form {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.focus-product__presentation__part2__form--objectif {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.focus-product__presentation__part2__form--objectif label {
  font-size: 0.85em;
  margin-right: 5px;
}
.focus-product__presentation__part2__form--objectif select {
  height: 20px;
  border: 1px solid #a7a7a7;
  padding-left: 5px;
  padding: 0 5px 0 5px;
}
.focus-product__presentation__part2__form--quantity {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.focus-product__presentation__part2__form--quantity p:first-child {
  font-size: 0.85em;
  margin-right: 5px;
}
.focus-product__presentation__part2__form--submit {
  font-family: "Montserrat", sans-serif;
  height: 40px;
  font-size: 0.75em;
  cursor: pointer;
  color: white;
  background-color: black;
  transition: background-color 0.5s, color 0.5s;
  border: 1px solid black;
}
.focus-product__presentation__part2__form--submit:hover {
  background-color: transparent;
  color: black;
}

.gen-btn-quantity {
  display: flex;
  align-items: center;
}
.gen-btn-quantity button {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  border: #a7a7a7 1px solid;
  cursor: pointer;
  background-color: white;
}
.gen-btn-quantity p {
  width: 25px;
  font-size: 0.8em;
  text-align: center;
  font-family: "Nunito", sans-serif;
}

/*# sourceMappingURL=style.css.map */
